# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# don't commit input data
StormData.csv
*.bz2

# don't commit cache
weather_effects_cache
